<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Banco de Dados ABCash</title>
    </head>
    <body>
        <table class="table table-bordered table-responsive table-striped table-dark">
            <tr class = "d-flex">
                <th class="col-1">Id</th>
                <th class="col-3">Nome</th>
                <th class="col-1">Questão</th>
                <th class="col-5">Resposta</th>
                <th class="col-2">Data</th>
            </tr>
        <% if (banco) { %>
            <% banco.forEach(function(banco){ %>
                <tr class = "d-flex">
                    <td class="col-1"><%= banco.id %></td>
                    <td class="col-3"><%= banco.nome %></td>
                    <td class="col-1"><%= banco.questao %></td>
                    <td class="col-5"><%= banco.resposta %></td>
                    <td class="col-2"><%= banco.data %></td>
                </tr>
            <% }) %>
        <% } %>
        </table>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>